{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{%static 'dashboard/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{%static 'dashboard/vendors/flag-icon-css/css/flag-icon.min.css'%}">
    <link rel="stylesheet" href="{%static 'dashboard/vendors/css/vendor.bundle.base.css'%}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{%static 'dashboard/css/style.css'%}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{%static 'dashboard/images/favicon.png'%}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  {% comment %} <img src="{%static 'images/icons/logo-01.png'%}"> {% endcomment %}
                  <img src="{%static 'images/icons/labella-high-resolution-logo-white.png'%}">
                  
                </div>
                <h4>Hello! let's get started</h4>
                <h6 class="font-weight-light">Sign in to continue.</h6>
                <form method="post" class="pt-3">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="email" name="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                  </div>
                 
                  <!-- <button type="submit" class="login100-form-btn">
                    Login
                  </button> -->
                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                    </div>
                    <a href="#" class="auth-link text-black">Forgot password?</a>
                  </div>
                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-facebook auth-form-btn">
                      <i class=""></i>login </button>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="register.html" class="text-primary">Create</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script src="{%static 'dashboard/vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{%static 'dashboard/js/off-canvas.js'%}"></script>
    <script src="{%static 'dashboard/js/hoverable-collapse.js'%}"></script>
    <script src="{%static 'dashboard/js/misc.js'%}"></script>
    <!-- endinject -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      {% for msg in messages %}
        swal("", "{{msg}}", "error");
      {% endfor %}
      </script>
  </body>
</html>