
{% extends 'base.html' %}
	
{% load static %}
{% block content %}



<!--===============================================================================================-->	



<section style="background-color: #fff;">
  <div style="height: 60px;"></div>
    <div class="container py-5">  
      {% for message in messages  %}
        <div class="alert alert-info" id="message" role="alert">
          {% comment %} {{m}} {% endcomment %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>

        </div>
      {% endfor %} 
      {% comment %} {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endcomment %}

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="card border rounded mb-4">
            <div class="card-body   text-center">
             <div class="text-center mb-2 container" style="width: 100px;height: 100px; border-radius: 50%;padding: 0; overflow: hidden;">
              {% if request.user.user_image %}
              <img class="img-fluid" src="{{request.user.user_image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                {% else %}
                <img class="w-100 h-100" src="{%static 'dashboard/images/faces/man-avatar-profile-vector-21372076.jpg'%}" alt="avatar"
                class="rounded-circle img-fluid">
                {% endif %}
                <img src= alt="image">
             </div>
             <a  data-bs-toggle="modal" data-bs-target="#changedp">
              <button class="btn btn-outline-dark w-25 btn-hover" style="font-size: 10px;">Change</button>
            </a>


            <!--Edit Modal -->
            <div class="modal fade" id="changedp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="" id="exampleModalLabel">User Image</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" enctype="multipart/form-data" method="POST">
                      {% csrf_token %}
      
                      <div class="form-outline mb-4">
                        <input name='user_image'   type="file" id="form3Example3cg" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example3cg">User Image</label>
                      </div>
      
                      <div class="d-flex justify-content-center">
                        <button type="submit"
                          class="btn btn-outline-dark btn-lg gradient-custom-4 w-50 text-light">Save Changes</button>
                      </div>
      
                    </form>
                  </div>
                </div>
              </div>
            </div>

              <h5 class="my-3">
                {{request.user.usernam}}
                {{request.user.first_name}} {{request.user.last_name}}
             </h5>

             <div class=" d-flex justify-content-between">
              <div >
                <a href="{% url 'orders' %}" class="btn btn-outline-dark ">My orders</a>
              </div>
              <div>
                <!-- <a class=" btn btn-success text-white mb-0 h5 text-end"> -->
                        <span class="">Wallet :</span>
                   ${{request.user.wallet|floatformat:0}} 
                </a>
              </div>
            </div>

            </div>
          </div>
        </div>

        <div class="col-lg-8 col-sm-12">
          <div class="card border rounded  mb-4"> 
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  {% comment %} <p class="mb-0">Full Name</p> {% endcomment %}
                  <p class="mb-0">Full name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{request.user.first_name}} {{request.user.last_name}}
                  </p>
                </div>
              </div>
              <hr>              
              <div class="row">
                <div class="col-sm-3">
                  {% comment %} <p class="mb-0">Full Name</p> {% endcomment %}
                  <p class="mb-0">User name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{request.user.username}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{request.user.email}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {% if request.user.phone %}
                    {{request.user.phone}}
                    {% else %}
                    <tag class="text-danger">Not provided </tag> 
                    {% endif %}
                  </p>
                </div>
              </div>

            </div>
          </div>
          <a type="button" data-bs-toggle="modal" data-bs-target="#editprofile">
            <button class="btn btn-outline-dark">Edit Profile</button>
          </a>
          
          <div class="modal fade mt-4" style="padding-top: 50px;" id="editprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title fs-5" id="exampleModalLabel">Edit profile</h4>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'editprofiles' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3cg">Username</label>
                      <input value="{{user.username}}"  name='username'  type="text" id="id_usernam" class="form-control form-control-lg" />
                    </div>  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3cg">First Name</label>
                      <input value="{{user.first_name}}"  name='first_name'  type="text" id="id_firstname" class="form-control form-control-lg" />
                    </div>  
    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3cg">Last Name</label>
                      <input value="{{user.last_name}}"  name='last_name'  type="text" id="id_lasname" class="form-control form-control-lg" />
                    </div>  
    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3cg">Email</label>
                      <input readonly  name='email' value="{{user.email}}" type="email" id="form3Example3cg" class="form-control form-control-lg" />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form3Example3cg">phone</label>
                      <input value="{{user.phone}}"  name='phone'  type="text" id="id_lasname" class="form-control form-control-lg" />
                    </div> 
                    
                    
                    <div class="d-flex justify-content-center">
                      <button type="submit"
                        class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light">Save Changes</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
        </div>
  
          
          
           <!-- Button trigger modal -->
           <a type="button" data-bs-toggle="modal" data-bs-target="#changepassword">
            <button class="btn btn-outline-dark">Change Password</button>
          </a>
          
          <!-- Edit Modal profile password edit -->
          <div class="modal fade" id="changepassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="" id="exampleModalLabel">User password change</h5>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="myForm" action="{% url 'changepassword' %}" method="POST">
                    {% csrf_token %}
                    <div style="display: none;" class="alert alert-danger text-center changepassmessage" id="message" role="alert"></div>
                    <div class="form-outline mb-4">
                      <input name="old_password" type="password" id="form3Example3cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example3cg">Old Password</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input name="new_password1" type="password" id="form3Example3cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example3cg">New Password</label>
                      <p class="help-text">
                        Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character.
                      </p>
                    </div>
                    {% comment %} <div class="form-group">
                      <label for="id_new_password1">New password:</label>
                      <input type="password" name="new_password1" id="id_new_password1" required>
                      <p class="help-text">
                        Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character.
                      </p>
                    </div> {% endcomment %}
                    
 

                    <div class="form-outline mb-4">
                      <input name="new_password2" type="password" id="form3Example3cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example3cg">Confirm New Password</label>
                    </div>



                    <div class="d-flex justify-content-center">
                      <button type="submit" onclick="submitForm(event)" class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light">Save Changes</button>
                    </div>

                    

                  </form>
                </div>
              </div>
            </div>
          </div>
          
       <!--Edit Profile Modal -->
       
     {% if address %}
    <h4 class="pt-5 pb-2">Your addresses</h4>
    {% endif %}
    <!-- New Address -->
    <button type="button" class="btn btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      New Adress
  </button>
  
<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Billing Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'addaddress_profile' %}" method="POST" class="justify-content-between">
          {% csrf_token %}
          <div class="row mb-1">
            <div class="col-lg-6">
              <div class="checkout__input">
                <p>First Name<span>*</span></p>
                <input type="text" name="firstname" class="form-control">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <p>Last Name<span>*</span></p>
                <input type="text" name="lastname" class="form-control">
              </div>
            </div>
          </div>
          <div class="checkout__input mb-1">
            <p>Country<span>*</span></p>
            <input type="text" name="country" class="form-control">
          </div>
          <div class="checkout__input mb-1">
            <p>Address<span>*</span></p>
            <input type="text" class="checkout_input_add form-control" name="address">
          </div>
          <div class="checkout__input mb-1">
            <p>Town/City<span>*</span></p>
            <input type="text" name="city" class="form-control">
          </div>
          <div class="checkout__input mb-1">
            <p>State<span>*</span></p>
            <input type="text" name="state" class="form-control">
          </div>
          <div class="checkout__input mb-1">
            <p>Postcode / ZIP<span>*</span></p>
            <input type="text" name="pincode" class="form-control">
          </div>
          <div class="row mb-1">
            <div class="col-lg-6">
              <div class="checkout__input">
                <p>Phone<span>*</span></p>
                <input type="text" name="phone" class="form-control">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout__input">
                <p>Email<span>*</span></p>
                <input type="text" name="email" class="form-control">
              </div>
            </div>
          </div>
          <div class="checkout__input mb-1">
            <p>Order notes<span>*</span></p>
            <input type="text" placeholder="Notes about your order, e.g. special notes for delivery." name="ordernote" class="form-control">
          </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-danger">Create New Address</button>
      </div>
      </form>
    </div>
  </div>
</div>    
    <!-- New Address -->
      {% for a in address %}
        {% if not a.id == default.default.id %}
          <div class="card border rounded  mb-3">
            <div class="card-body">
              <h5 class="card-title">{{a.first_name}} {{a.last_name}}</h5>
              <p class="card-text">{{a.address}}, near {{a.state}}, </p>
              <div>
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#address{{forloop.counter}}">
                    View
                  </button>

                  <!-- Modal -->
                  <div style="margin-top: 65px;" class="modal fade" id="address{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title fs-6" id="staticBackdropLabel">View address</h4>
                          <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-5">
                              <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-7">
                                {{ a.first_name}} {{ a.last_name}}
                                
                            </div>
                          </div>
                          <hr>

                          <div class="row">
                            <div class="col-sm-5">
                              <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-7">
                                {{ a.address}}
                            </div>
                          </div>
                          <hr>

                          <div class="row">
                            <div class="col-sm-5">
                              <p class="mb-0">Contact Number</p>
                            </div>
                            <div class="col-sm-7">
                                {{ a.phone}}
                            </div>
                          </div>
                          <hr>

                          <div class="row">
                            <div class="col-sm-5">
                              <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-7">
                                {{ a.email}}
                            </div>
                          </div>
                          <hr>

                          <div class="row">
                            <div class="col-sm-5">
                              <p class="mb-0">City</p>
                            </div>
                            <div class="col-sm-7">
                                {{ a.city}}
                            </div>
                          </div>
                          <hr>

                          <div class="row">
                            <div class="col-sm-5">
                              <p class="mb-0">Pincode</p>
                            </div>
                            <div class="col-sm-7">
                                {{ a.pincode}}
                            </div>
                          </div>
                          <hr>

                          <div class="row">
                            <div class="col-sm-5">
                              <p class="mb-0">State</p>
                            </div>
                            <div class="col-sm-7">
                                {{ a.state}}
                            </div>
                          </div>
                          <hr>

                          <div class="row">
                            <div class="col-sm-5">
                              <p class="mb-0">Country</p>
                            </div>
                            <div class="col-sm-7">
                                {{ a.country}}
                            </div>
                          </div>


                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <a class="btn btn-outline-dark" href="">
                  Edit
                </a>
                
                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletaddress{{forloop.counter}}">
                  delete
                </a>
    
                <!--Delete Modal -->
                <div class="modal fade mt-5" id="deletaddress{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"> <i class="fa fa-times" ></i></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure to delete Address <span class="text-primary">" {{a.first_name}} {{a.last_name}} ..."</span></p>
                        <form action="{% url 'deleteaddress_profile' a.id %}" enctype="multipart/form-data" method="POST">
                          {% csrf_token %}
                          <div class="d-flex justify-content-center">
                            <button type="submit"
                              class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light">Confirm</button>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      

      <br>
      <br>

    </div>
   
  
  
  
  <!--===============================================================================================-->

  <!-- paginator js -->
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.bundle.min.js"></script>
  <!--===============================================================================================-->	
  
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
 
<script>
  $('.parallax100').parallax100();
</script>

  <script>
    $('.js-pscroll').each(function(){
        $(this).css('position','relative');
        $(this).css('overflow','hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function(){
            ps.update();
        })
    });
</script>

  <script>
 
      const myTextField = document.getElementById("id_fullname");
      myTextField.addEventListener("keypress", function(event) {
        const key = event.key;
        const isLetterOrSpace = /[a-zA-Z\s]/.test(key);
        if (!isLetterOrSpace) {
          event.preventDefault();
        }
      });

      myTextField.addEventListener("paste", function(event) {
        const pastedText = event.clipboardData.getData('text/plain');
        const hasNumber = /\d/.test(pastedText);
        if (hasNumber) {
          event.preventDefault();
        }
      });



  setTimeout(function(){
          $('#message').fadeOut('slow')
      }, 2000)

      function submitForm(event) {
  event.preventDefault(); // prevent form from submitting

  var inputs = document.forms["myForm"].getElementsByTagName("input");
  for (var i = 0; i < inputs.length; i++) {
    if (inputs[i].value == "") {
      alert("Please fill in all fields");
      return false;
    }
  }
  success: function(json){

    if (json.status == 'true'){
      window.location.reload()
      return;
    }

    var messdiv = document.getElementById('message')
    messdiv.style.display = "block";
    messdiv.textContent = json.message

  }

  error: function(xhr, errmsg, err){


  }

  });

  // All fields have values, submit the form
}

  
  <script>
    $(".js-select2").each(function(){
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>

<script>
  $('.gallery-lb').each(function() { // the containers for all your galleries
      $(this).magnificPopup({
          delegate: 'a', // the selector for gallery item
          type: 'image',
          gallery: {
              enabled:true
          },
          mainClass: 'mfp-fade'
      });
  });
</script>

<script>
  function submitForm(event) {
    var oldPassword = document.getElementById("id_old_password").value;
    var newPassword1 = document.getElementById("id_new_password1").value;
    var newPassword2 = document.getElementById("id_new_password2").value;
  
    // Check if old password is correct (optional, depending on your security requirements)
    // You can use Django's authentication API (e.g., check_password) to verify this.
  
    // Validate new password
    try {
      validate_password(newPassword1);
      document.getElementById("myForm").submit(); // Submit the form if validation passes
    } catch (error) {
      event.preventDefault(); // Prevent form submission if validation fails
      var errorMessage = "";
      for (var i = 0; i < error.message.length; i++) {
        errorMessage += error.message[i] + "<br>";
      }
      document.getElementById("message").innerHTML = errorMessage;
      document.getElementById("message").style.display = "block";
    }
  }
  </script>
  
  

{% endblock %}