{% extends 'base.html' %}
{% comment %} {% load static %}

{% block content %} 
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"/>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css"/>
 
 <div class="extraspace" style="height: 60px;"></div>
 <div class="bg0 p-t-75 p-b-85">
	 <div class="container">
		 {% if not cart_items %}
		 <h2 class="text-center"> Your Shopping Cart is Empty</h2>
		 <br>
		 <br>
		 <div class="text-center">
			 <a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
		 </div>
		 {% else %}	
		 <div class="row">
			 <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				 <div class="m-l-25 m-r--38 m-lr-0-xl">
					 <div class="wrap-table-shopping-cart">
						 <table class="table-shopping-cart">
							 <thead>
								 <tr class="table_head">
									 <th class="column-1">Product</th>
									 <th class="column-2"></th>
									 <th class="column-3">Price</th>
									 <th class="column-4">Quantity</th>
									 <th class="column-5">Total</th>
								 </tr>
							 </thead>
							 <tbody>
							 {% for cart_item in cart_items %}	
							 <tr class="table_row">
								 <td class="column-1">
									 <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}">
										 <div class="how-itemcart1">
											 <img src="{{cart_item.product.images.url}}" alt="IMG">
										 </div>
									 </a>
								 </td>
								 <td class="column-2">
									 <a href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name }}</a>
									 <p class="text-muted small">
										 {% if cart_item.variations.all %}
											 {% for item in cart_item.variations.all %}
												 {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
											 {% endfor %}
										 {% endif %}
									 </p> 
								 </td>
								 <td class="column-3">$ 
									 {% if cart_item.product.offer %}
										 {{cart_item.product.get_offer_price}}
									 {% else %}
										 {{ cart_item.product.price }}
									 {% endif %}
								 </td>
								 <td class="column-4">
									 <div class="wrap-num-product flex-w m-l-auto m-r-0">
										 <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m decrement" data-product_id="{{ cart_item.product.id}}" data-cart_item="{{cart_item.id}}">
											 <i class="fs-16 zmdi zmdi-minus"></i>
										 </a>
										 <input class="mtext-104 cl3 txt-center num-product quantity-input" 
										 type="number" 
										 name="quantity" 
										 value="{{ cart_item.quantity }}"
										 data-max-quantity="{{ cart_item.product.stock }}"
										 data-product-id="{{ cart_item.product.id }}"
										 >
										 <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m increment" data-product_id="{{ cart_item.product.id}}" data-cart_item="{{cart_item.id}}">
											 <i class="fs-16 zmdi zmdi-plus"></i>
										 </a>
									 </div>
								 </td>
								 <td id="single_pro_total{{cart_item.id}}" class="column-5"><span>$</span> {{ cart_item.sub_total }}</td>
							 </tr>
							 {% endfor %}
							 </tbody>
						 </table>
					 </div>
 
					 <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
					 </div>
				 </div>
			 </div>
			 <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				 <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm ">
					 <h4 class="mtext-109 cl2 p-b-30">
						 Cart Totals
					 </h4>
 
					 <div class="flex-w flex-t bor12 p-b-13">
						 <div class="size-208">
							 <span class="stext-110 cl2">
								 Total:
							 </span>
						 </div>
						 <div class="size-209">
							 <span id="sub_total" class="mtext-110 cl2">
								 $ {{total}}
							 </span>
						 </div>
					 </div>
					 <div class="flex-w flex-t bor12 p-t-15 p-b-30">
						 <div class="size-208 w-full-ssm">
							 <span class="stext-110 cl2">
								 Tax:
							 </span>
						 </div>
						 <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
							 <span id="tax" class="mtext-110 cl2">
								 $ {{tax}}
							 </span>
						 </div>
					 </div>
					 <div class="flex-w flex-t p-t-27 p-b-33">
						 <div class="size-208">
							 <span class="mtext-101 cl2">
								 Grandtotal:
							 </span>
						 </div>
						 <div class="size-209 p-t-1">
							 <span id="grandtotal" class="mtext-110 cl2">
								 ${{grand_total}}
							 </span>
						 </div>
					 </div>
					 <a href="{% url 'checkout' %}">
						 <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							 Proceed to Checkout
						 </button>
					 </a>
				 </div>
			 </div>
		 </div>
		 {% endif %}
	 </div>
 </div>
 
 <script>
 $(document).ready(function() {
	 function updateCartTotals(response) {
		 console.log(response,'this is it')
		 sub_total = parseFloat(response.sub_total); 
 
		 document.getElementById('sub_total').textContent = '$' + sub_total.toFixed(2); 
		 document.getElementById('tax').textContent = '$' + (0.02 * sub_total).toFixed(2); 
		 document.getElementById('grandtotal').textContent = '$' + (sub_total + (0.02 * sub_total)).toFixed(2); 
	 }
 
	 $(document).on('click', '.decrement', function(e) {
		 e.preventDefault();
		 var qtyInput = $(this).siblings('input[name=quantity]');
		 var qty = parseInt(qtyInput.val());
 
		 if (qty > 1) {
			 var cart_item = $(this).data('cart_item');
			 var product_id = $(this).data('product_id');
 
			 $.ajax({
				 method: "POST",
				 url: "{% url 'remove_cart' %}",
				 data: {
					 'product_id': product_id,
					 'cart_item_id': cart_item,
					 csrfmiddlewaretoken: '{{csrf_token}}'
				 },
				 success: function(response) {
					 updateCartTotals(response);
					 // Update the quantity input with the server-side value:
					 qtyInput.val(response.new_quantity); 
					 document.getElementById('single_pro_total' + cart_item).textContent = '$' + parseFloat(response.single_pro_total).toFixed(2);
				 }
			 });
		 } 
	 });
	 
 
	 $(document).on('click', '.increment', function(e) {
		 e.preventDefault();
		 var qtyInput = $(this).siblings('input[name=quantity]');
		 var currentQty = parseInt(qtyInput.val());
		 var maxQty = parseInt(qtyInput.data('max-quantity'));
		 
 
		 if (currentQty < maxQty) {
			 qtyInput.val(currentQty + 1); 
 
			 var cart_item = $(this).data('cart_item');
			 var product_id = $(this).data('product_id');
			 
			 $.ajax({
				 method: "POST",
				 url: "{% url 'increment_cart' %}",
				 data: {
					 'product_id': product_id,
					 'cart_item_id': cart_item,
					 csrfmiddlewaretoken: '{{csrf_token}}'
				 },
				 success: function(response) {
					 if (response.status === 'out_of_stock') {
						 swal('Error', "Product out of stock!", "error");
						 qtyInput.val(currentQty);
					 } else {
						 updateCartTotals(response);
						 qtyInput.val(response.new_quantity); 
						 document.getElementById('single_pro_total' + cart_item).textContent = '$' + parseFloat(response.single_pro_total).toFixed(2);
					 }
				 }
			 });
		 } else {
			 swal('Error', "You've reached the maximum available quantity.", "error");
		 }
	 });
 
 });
 </script>
 {% endblock %}	  {% endcomment %}







 {% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}

{% block content %} 
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"/>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css"/>
 
 <div class="extraspace" style="height: 60px;"></div>
 <div class="bg0 p-t-75 p-b-85">
	 <div class="container">
		 {% if not cart_items %}
		 <h2 class="text-center"> Your Shopping Cart is Empty</h2>
		 <br>
		 <br>
		 <div class="text-center">
			 <a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
		 </div>
		 {% else %}	
		 <div class="row">
			 <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				 <div class="m-l-25 m-r--38 m-lr-0-xl">
					 <div class="wrap-table-shopping-cart">
						 <table class="table-shopping-cart">
							 <thead>
								 <tr class="table_head">
									 <th class="column-1">Product</th>
									 <th class="column-2"></th>
									 <th class="column-3">Price</th>
									 <th class="column-4">Quantity</th>
									 <th class="column-5">Total</th>
								 </tr>
							 </thead>
							 <tbody>
							 {% for cart_item in cart_items %}	
							 <tr class="table_row">
								 <td class="column-1">
									 <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}">
										 <div class="how-itemcart1">
											 <img src="{{cart_item.product.images.url}}" alt="IMG">
										 </div>
									 </a>
								 </td>
								 <td class="column-2">
									 <a href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name }}</a>
									 <p class="text-muted small">
										 {% if cart_item.variations.all %}
											 {% for item in cart_item.variations.all %}
												 {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
											 {% endfor %}
										 {% endif %}
									 </p> 
								 </td>
								 <td class="column-3">₹ 
									 {% if cart_item.product.offer %}
										 {{cart_item.product.get_offer_price}}
									 {% else %}
										 {{ cart_item.product.price }}
									 {% endif %}
								 </td>
								 <td class="column-4">
									 <div class="wrap-num-product flex-w m-l-auto m-r-0">
										 <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m decrement" data-product_id="{{ cart_item.product.id}}" data-cart_item="{{cart_item.id}}">
											 <i class="fs-16 zmdi zmdi-minus"></i>
										 </a>
										 <input class="mtext-104 cl3 txt-center num-product quantity-input" 
										 type="number" 
										 name="quantity" 
										 value="{{ cart_item.quantity }}"
										 data-max-quantity="{{ cart_item.product.stock }}"
										 data-product-id="{{ cart_item.product.id }}"
										 >
										 <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m increment" data-product_id="{{ cart_item.product.id}}" data-cart_item="{{cart_item.id}}">
											 <i class="fs-16 zmdi zmdi-plus"></i>
										 </a>
									 </div>
								 </td>
								 <td id="single_pro_total{{cart_item.id}}" class="column-5"><span>₹</span> {{ cart_item.sub_total }}</td>
							 </tr>
							 {% endfor %}
							 </tbody>
						 </table>
					 </div>
 
					 <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
					 </div>
				 </div>
			 </div>
			 <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				 <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm ">
					 <h4 class="mtext-109 cl2 p-b-30">
						 Cart Totals
					 </h4>
 
					 <div class="flex-w flex-t bor12 p-b-13">
						 <div class="size-208">
							 <span class="stext-110 cl2">
								 Total:
							 </span>
						 </div>
						 <div class="size-209">
							 <span id="sub_total" class="mtext-110 cl2">
								₹ {{total}}
							 </span>
						 </div>
					 </div>
					 <div class="flex-w flex-t bor12 p-t-15 p-b-30">
						 <div class="size-208 w-full-ssm">
							 <span class="stext-110 cl2">
								 Tax:
							 </span>
						 </div>
						 <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
							 <span id="tax" class="mtext-110 cl2">
								₹ {{tax}}
							 </span>
						 </div>
					 </div>
					 <div class="flex-w flex-t p-t-27 p-b-33">
						 <div class="size-208">
							 <span class="mtext-101 cl2">
								Grandtotal:
							 </span>
						 </div>
						 <div class="size-209 p-t-1">
							 <span id="grandtotal" class="mtext-110 cl2">
								 ₹ {{grand_total}}
							 </span>
						 </div>
					 </div>
					 <a href="{% url 'checkout' %}">
						 <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							 Proceed to Checkout
						 </button>
					 </a>
				 </div>
			 </div>
		 </div>
		 {% endif %}
	 </div>
 </div>
 


<script>
	$(document).ready(function() {
		function updateButtonState(qtyInput) {
			var qty = parseInt(qtyInput.val());
			var maxQty = parseInt(qtyInput.data('max-quantity'));

			// Disable decrement button if quantity is 1
			var decrementButton = qtyInput.siblings('.decrement');
			if (qty <= 1) {
				decrementButton.addClass('disabled').css('pointer-events', 'none');
			} else {
				decrementButton.removeClass('disabled').css('pointer-events', 'auto');
			}

			// Disable increment button if quantity reaches max quantity
			var incrementButton = qtyInput.siblings('.increment');
			if (qty >= maxQty) {
				incrementButton.addClass('disabled').css('pointer-events', 'none');
			} else {
				incrementButton.removeClass('disabled').css('pointer-events', 'auto');
			}
		}

		function updateCartTotals(response) {
			console.log(response, 'this is it');
			var sub_total = parseFloat(response.sub_total);

			$('#sub_total').text('$' + sub_total.toFixed(2));
			$('#tax').text('$' + (0.02 * sub_total).toFixed(2));
			$('#grandtotal').text('$' + (sub_total + (0.02 * sub_total)).toFixed(2));
		}

		$('.quantity-input').each(function() {
			updateButtonState($(this));
		});

		$(document).on('click', '.decrement', function(e) {
			e.preventDefault();
			var qtyInput = $(this).siblings('input[name=quantity]');
			var qty = parseInt(qtyInput.val());

			if (qty >= 1) {
				var cart_item = $(this).data('cart_item');
				var product_id = $(this).data('product_id');

				$.ajax({
					method: "POST",
					url: "{% url 'remove_cart' %}",
					data: {
						'product_id': product_id,
						'cart_item_id': cart_item,
						csrfmiddlewaretoken: '{{csrf_token}}'
					},
					success: function(response) {
						updateCartTotals(response);
						qtyInput.val(response.new_quantity);
						$('#single_pro_total' + cart_item).text('$' + parseFloat(response.single_pro_total).toFixed(2));
						updateButtonState(qtyInput);
					}
				});
			}
		});

		$(document).on('click', '.increment', function(e) {
			e.preventDefault();
			var qtyInput = $(this).siblings('input[name=quantity]');
			var currentQty = parseInt(qtyInput.val());
			var maxQty = parseInt(qtyInput.data('max-quantity'));

			if (currentQty < maxQty) {
				var cart_item = $(this).data('cart_item');
				var product_id = $(this).data('product_id');

				$.ajax({
					method: "POST",
					url: "{% url 'increment_cart' %}",
					data: {
						'product_id': product_id,
						'cart_item_id': cart_item,
						csrfmiddlewaretoken: '{{csrf_token}}'
					},
					success: function(response) {
						if (response.status === 'out_of_stock') {
							swal('Error', "Product out of stock!", "error");
							qtyInput.val(currentQty);
						} else {
							updateCartTotals(response);
							qtyInput.val(response.new_quantity);
							$('#single_pro_total' + cart_item).text('$' + parseFloat(response.single_pro_total).toFixed(2));
							updateButtonState(qtyInput);
						}
					}
				});
			}
		});
	});
	</script>
 {% endblock %}	 
