{% extends 'base.html' %}
	
{% load static %}
{% block content %}

<div class="extra_space" style="height: 60px;">

</div>
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
				Men
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{ single_product.product_name }}
			</span>
		</div>
	</div>
		

	<!-- Product Detail -->
    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
    
                            <div class="slick3 gallery-lb">
                                <div class="item-slick3" data-thumb="{{ single_product.image1.url }}">
                                    <div class="wrap-pic-w pos-relative easyzoom easyzoom--overlay">
                                        <a href="{{ single_product.image1.url }}">
                                            <img src="{{ single_product.image1.url }}" alt="IMG-PRODUCT">
                                        </a>
                                    </div>
                                </div>
    
                                <div class="item-slick3" data-thumb="{{ single_product.images.url }}">
                                    <div class="wrap-pic-w pos-relative easyzoom easyzoom--overlay">
                                        <a href="{{ single_product.images.url }}">
                                            <img src="{{ single_product.images.url }}" alt="IMG-PRODUCT">
                                        </a>
                                    </div>
                                </div>
    
                                <div class="item-slick3" data-thumb="{{ single_product.image2.url }}">
                                    <div class="wrap-pic-w pos-relative easyzoom easyzoom--overlay">
                                        <a href="{{ single_product.image2.url }}">
                                            <img src="{{ single_product.image2.url }}" alt="IMG-PRODUCT">
                                        </a>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			
				
				
				<div class="col-md-6 col-lg-5 p-b-30">
					<form action="{% url 'add_cart' single_product.id %}" method="post">
						{% csrf_token %}
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							{{ single_product.product_name }}
						</h4>

						<span class="mtext-106 cl2">
							{% if single_product.offer%}<del style="color: red;">${{single_product.price}}</del>      ${{single_product.get_offer_price}}{% else %} ${{single_product.price}}{% endif %}
						</span>

						<p class="stext-102 cl3 p-t-23">
							{{ single_product.description }}
						</p>
						
						<!--  -->
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Size
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select name="size" class="js-select2">
											<option value="" disabled selected>Choose an option</option>
											{% for i in single_product.variation_set.sizes %}
											
											<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
											{% endfor %}
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Color
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select name="color" class="js-select2 form-control" required>
											<option value="" disabled selected>Choose an option</option>
											{% for i in single_product.variation_set.colors %}
											
											<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst}}</option>
											{% endfor %}
										</select>
										<div class="dropDownSelect2"></div>
										
									</div>
								</div>
							</div>

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									{% comment %} <div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div> {% endcomment %}
									
									{% if single_product.stock <= 0 %}
									<h5 class ="text-danger">Out of stock</h5>
									{% else %}

		
									<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 " type="submit" >
										Add to cart
									</button>
										
									{% endif %}
									{% comment %} <button id="addToWishlistDetail" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"> 
										<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
									  </button> {% endcomment %}
									  {% comment %} <input type="hidden" class="prod_id" value="{{ i.id }}">
									  <button class="btn-addwish-b2 addToWishlist dis-block pos-relative js-addwish-b2">
										  <img class="icon-heart1 dis-block trans-04" src="{%static 'images/icons/icon-heart-01.png'%}" alt="ICON">
										  <img class="icon-heart2 dis-block trans-04 ab-t-l" src="{%static 'images/icons/icon-heart-02.png'%}" alt="ICON">
									  </button> {% endcomment %}
									{% comment %} <div class="block2-txt-child2 flex-r p-t-3">
										{% csrf_token %} 
										<input type="hidden" class="prod_id" value="{{ single_product.id }}"> 
										<button class="btn-addwish-b2 addToWishlist dis-block pos-relative js-addwish-b2">
											<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
										</button>
									</div> {% endcomment %}


								</div>
								<div class="block2-txt-child2 flex-r p-t-3">
									{% csrf_token %}
									<input type="hidden" id="product_id" value="{{ single_product.id }}"> 
									<button id="addToWishlist" class="btn btn-outline-danger">Add to Wishlist</button>
								</div>
							</div>	
						</div>

						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
							<div class="flex-m bor9 p-r-10 m-r-11">
								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
									<i class="zmdi zmdi-favorite"></i>
								</a>
							</div>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
								<i class="fa fa-twitter"></i>
							</a>

							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</form>
				</div>
			
			</div>
		

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
						</li>


					
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								<p class="stext-102 cl6">
									{{ single_product.description }}
								</p>
							</div>
						</div>

						<!-- - -->
						<div class="tab-pane fade" id="information" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<ul class="p-lr-28 p-lr-15-sm">
										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Weight
											</span>

											<span class="stext-102 cl6 size-206">
												0.79 kg
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Dimensions
											</span>

											<span class="stext-102 cl6 size-206">
												110 x 33 x 100 cm
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Materials
											</span>

											<span class="stext-102 cl6 size-206">
												60% cotton
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Color
											</span>

											<span class="stext-102 cl6 size-206">
												Black, Blue, Grey, Green, Red, White
											</span>
										</li>

										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												Size
											</span>

											<span class="stext-102 cl6 size-206">
												XL, L, M, S
											</span>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- - -->

					</div>
				</div>
			</div>
		</div>

		<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
			<span class="stext-107 cl6 p-lr-25">
				SKU: JAK-01
			</span>

			<span class="stext-107 cl6 p-lr-25">
				Categories: Jacket, Men
			</span>
		</div>
	</section>


	<!-- Related Products -->
	
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/easyzoom.js' %}"></script> 
    <script>
        $('.easyzoom').easyZoom();
    </script>		
	{% comment %} <script>
		$(document).ready(function() {
			$('.addToWishlist').click(function (e){
				e.preventDefault();
			
				var product_id = $(this).closest('.product_data').find('.prod_id').val();
				console.log(product_id);
				var token = $('input[name=csrfmiddlewaretoken]').val();
			
				$.ajax({
					method: "POST",
					url: "/wishlist/addWishlist/",
					data: {
						'product_id':product_id,
						csrfmiddlewaretoken: token
					},
					success: function (response) {
						// Handle the response from the server
						if (response.status === "product added to wishlist") {
							// Product added successfully
							alertify.success(response.status); 
							// You might want to update the button appearance or show a message 
						} else if (response.status === "Product already in wishlist") {
							// Product is already in the wishlist
							alertify.warning(response.status); 
							// You might want to update the button appearance or show a message
						} else {
							// Some other error occurred
							alertify.error("An error occurred. Please try again later.");
							console.error("Error:", response);
						}
					},
					error: function(error) {
						// Handle AJAX errors
						alertify.error("An error occurred. Please try again later.");
						console.error("AJAX Error:", error); 
					}
				});
			});
		});
	</script> {% endcomment %}
	<script>
		$(document).ready(function() {
			$(document).on('click', '#addToWishlist', function(e) {
				e.preventDefault();
				
				var prod_id = $('#product_id').val();
				
				$.ajax({
					method: "POST",
					url: "/wishlist/addWishlist/", 
					data: {
						'product_id': prod_id,
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() 
					},
					success: function(response) {
						// Handle success (e.g., update button, show message)
						if (response.status == 'Login to continue') {
							window.location.href = '/accounts/login/';
						} else {
							alert(response.status);
						}
					},
					error: function(response) {
						// Handle errors
						alert("Something went wrong!");
					}
				});
			});
		});
	</script>
{% endblock %}